/* devanagari */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.otf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.otf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.otf')
}